ORTHANC_STORAGE_DIR=/var/lib/orthanc/db
ORTHANC_INDEX_DIR=/var/lib/orthanc/db
ORTHANC_PLUGINS_DIR=/usr/share/orthanc/plugins
ORTHANC_PYTHON_SCRIPT=/etc/orthanc/plugin_entrypoint.py
ORTHANC_HTTPS_CA_CERTS=/etc/ssl/certs/ca-certificates.crt
STOW_RS_URL=http://orthanc-endpoint:8042/dicom-web/studies
ORTHANC__REMOTE_ACCESS_ALLOWED=true
ORTHANC__AUTHENTICATION_ENABLED=false
MPPS_LOG_DIR=/var/log/orthanc/mpps
DATABRICKS_CLIENT_SECRET=...
DATABRICKS_CLIENT_ID=a8dac26f-5389-4060-ad2a-a246bc5249a5
DATABRICKS_HOST=https://adb-3055293005770013.13.azuredatabricks.net
PROCESSING_JOB_ID=594262299226080
DATABRICKS_STORE_VOLUME_ROOT=/Volumes/pixels/dicom/files/raw